---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json&show=longName,city,distance,phone,storeType,storeId
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 17,
          "currentPage": 1,
          "totalPages": 2,
          "queryTime": "0.005",
          "totalTime": "0.019",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=longName,city,distance,phone,storeType,storeId&format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "city": "Denver",
              "distance": 3.25,
              "phone": "303-270-9189",
              "storeType": "Mobile",
              "storeId": 2740
            },
            {
              "longName": "Best Buy - Belmar",
              "city": "Lakewood",
              "distance": 5.28,
              "phone": "303-742-8039",
              "storeType": "BigBox",
              "storeId": 1224
            },
            {
              "longName": "Best Buy - Colorado Blvd",
              "city": "Denver",
              "distance": 5.61,
              "phone": "303-758-5805",
              "storeType": "BigBox",
              "storeId"[...]
[...]
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=210)?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json&show=longName,address,city,region,postalCode,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.005",
          "partial": false,
          "canonicalUrl": "/v1/stores(storeId=210)?show=longName,address,city,region,postalCode,storeType&format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7",
          "stores": [
            {
              "longName": "Best Buy - Littleton",
              "address": "5395 S Wadsworth Blvd",
              "city": "Littleton",
              "region": "CO",
              "postalCode": "80123",
              "storeType": "BigBox"
            }
          ]
        }
  recorded_at: Tue, 02 Aug 2016 18:00:13 GMT
recorded_with: VCR 3.0.3
