---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=210)?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json&show=longName,address,city,region,postalCode,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.005",
          "partial": false,
          "canonicalUrl": "/v1/stores(storeId=210)?show=longName,address,city,region,postalCode,storeType&format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7",
          "stores": [
            {
              "longName": "Best Buy - Littleton",
              "address": "5395 S Wadsworth Blvd",
              "city": "Littleton",
              "region": "CO",
              "postalCode": "80123",
              "storeType": "BigBox"
            }
          ]
        }
  recorded_at: Tue, 02 Aug 2016 17:50:52 GMT
recorded_with: VCR 3.0.3
