---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json&show=longName,city,distance,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 17,
          "currentPage": 1,
          "totalPages": 2,
          "queryTime": "0.005",
          "totalTime": "0.015",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=longName,city,distance,phone,storeType&format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "city": "Denver",
              "distance": 3.25,
              "phone": "303-270-9189",
              "storeType": "Mobile"
            },
            {
              "longName": "Best Buy - Belmar",
              "city": "Lakewood",
              "distance": 5.28,
              "phone": "303-742-8039",
              "storeType": "BigBox"
            },
            {
              "longName": "Best Buy - Colorado Blvd",
              "city": "Denver",
              "distance": 5.61,
              "phone": "303-758-5805",
              "storeType": "BigBox"
            },
            {
              "longNam[...]
